# =========================
# LINGKUNGAN NODE.JS (NEXT.JS)
# =========================
node_modules/
.next/
out/
build/
.env*.local
.env

# =========================
# LINGKUNGAN PYTHON & AI
# =========================
venv/
env/
__pycache__/
*.pyc

# =========================
# FILE MODEL & MEDIA BERAT
# =========================
*.onnx
*.pt
*.sqlite
*.db
# Hati-hati: Jika Anda butuh gambar untuk UI Next.js (di folder public/), 
# jangan abaikan semua *.png. Cukup abaikan folder RAW saja jika ada.
Raw/